<div class="row text-center">
  <div class="col-md-6 col-sm-12 bg-primary border border-black">img1</div>
  <div class="col-md-6 d-sm-none d-md-block d-none d-sm-block bg-primary border border-black">img2</div>
  <div class="col-sm-12 bg-primary border border-black">img3</div>
</div>
<main class="row text-center">
  <article class="col-md-3 col-sm-4 col-5 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-7 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-5 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-7 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-5 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-7 bg-secondary border border-black">Article</article>
  <article class="col-md-3 col-sm-4 col-5 bg-secondary border border-black">Article</article>
  <article class="col-md-3 d-sm-none d-md-block col-7 bg-secondary border border-black">Article</article>
</main>
