<div class="container">
  <form class="row g-3">
      <input [(ngModel)]="texto" name="texto" class="form-control" placeholder="Buscar" type="text">
      <button type="submit" class="btn btn-primary mb-3"><i class="bi bi-search mx-2" (click)="search()"></i>Buscar</button>
  </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id de Video</th>
        <th scope="col">Titulo</th>
        <th scope="col">Enlace de video</th>
        <th scope="col">Canal de youtube</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos">
        <th scope="row">{{ video.id }}</th>
        <td>{{ video.title }}</td>
        <td><a href="{{ video.url }}">{{ video.url }}</a></td>
        <td>{{ video.channel.name }}
          <img src="{{video.channel.icon}}" alt="" width="100px" height="100px">
        </td>
      </tr>
    </tbody>
  </table>
</div>
